[DEFAULT]
data_path = DATA_EEG
img_path = img

[WITH_TRAINING]
file_name = 30-09-2022/OBCI_39.TXT
multiplier = 1
data_type = openbci
sigma = 0, 0

[WITHOUT_TRAINING]
file_name = 30-09-2022/OBCI_39.TXT
multiplier = 1
data_type = openbci
sigma = 0, 0

# Добре класифікується
[OPERATOR-1]
file_name = 30-09-2022/OBCI_39.TXT
multiplier = 1
data_type = openbci
sigma = 1.9, 0.5

# Добре класифікується
[OPERATOR-2]
file_name = 06-11-2022/OBCI_3E.TXT
multiplier = 1
data_type = openbci
sigma = 1.8, 0.9

# Добре класифікується
[OPERATOR-3]
file_name = Operator 3/OBCI_5A.TXT
multiplier = 1
data_type = openbci
sigma = 2.2, 2.0

# Добре класифікується
[OPERATOR-4]
file_name = Operator 4/OBCI_5E.TXT
multiplier = 1
data_type = openbci
sigma = 2.0, 1.0

# Погано класифікується
[OPERATOR-5]
file_name = Operator 5/OBCI_62.TXT
multiplier = 1
data_type = openbci
sigma = 1.8, 2.4

# Погано класифікується
# В спектральній області не класифікується
[OPERATOR-6]
file_name = Operator 6/OBCI_7C.TXT
multiplier = 1
data_type = openbci
sigma = 1.7, 2.3

# Погано класифікується
[OPERATOR-7]
file_name = Operator 7/OBCI_87.TXT
multiplier = 1
data_type = openbci
sigma = 1.7, 2.3

# Добре класифікується
[OPERATOR-8]
file_name = Operator 8/OBCI_95.TXT
multiplier = 1
data_type = openbci
sigma = 2.3, 0.9

# Погано класифікується
[OPERATOR-9]
file_name = Operator 9/OBCI_A0.TXT
multiplier = 1
data_type = openbci
sigma = 2.3, 1.0

# Погано класифікується
[OPERATOR-10]
file_name = Operator 10/OBCI_AB.TXT
multiplier = 1
data_type = openbci
sigma = 1.9, 0.9

# Добре класифікується
[OPERATOR-11]
file_name = Operator 11/OBCI_B0.TXT
multiplier = 1
data_type = openbci
sigma = 1.8, 0.9